.pagination{
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 100px;
    background-color: rgba(255, 0, 0, 0)(0, 0, 0);
    color: white;
}

.page-link{
    color: #c5c7c9c4;
    border-color: #c5c7c9c4;
    background-color: transparent;
}

.active > .page-link {
    background-color: #008a91 !important;
    border-color: #008a91 !important;
}

.page-link:hover{
    color: #008a91 !important;
}
