.wallets-container{
    color: white;
    padding-top: 150px;
    margin-bottom: 100px;
}

@media (max-width: 991px) {
    .wallets-container{
        padding-top: 50px;
        margin-bottom: 50px;
    }
}

.wallets-description{
    margin-top:50px;
    color:#e9ecefeb;
}

.wallets-list-row{
    display: flex;
    min-height: fit-content;
    height: fit-content;
    padding-top: 20px;
    padding-bottom: 20px;
    align-items: center;
    font-size: 20px;
    background-color: #001317;
    border-radius: 5px;
    margin-top: 20px;
}

.wallets-list-row:hover{
    background-color: #001013;
}

.wallets-list{
    margin-top: 50px;
}

.wallet-rank{
    font-size: 34px;
}

p{
    margin: 0;
}

a{
    color: #e9ecefeb;
    text-decoration: none;
}

a:hover{
    color: white
}