.header{
    height: fit-content;
    margin-top: 56px;
    background-image: url("../images/cover-img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    margin: 0;
    padding: 0;
}

.header-blur{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    backdrop-filter: blur(10px) brightness(60%);
    padding-top: 90px !important;
    padding-bottom: 90px !important;
    margin: 0;
    padding: 0;
}

.header-row{
    display: flex;
    justify-content: center;
}

.header-image-col{
    width: fit-content;
}

.header-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 30px;
    margin-bottom: 30px;
}

.header-buttons{
    justify-content: center;
    column-gap: 10px;
    display: flex;
}

.header-button{
    font-size: calc(15px + 0.3vw);
}

.crypto-img{
    max-height: 400px;
    max-width: 100%;
}