.wallet-name{
    margin-top: 40px;
}

.wallet-image{
    filter: opacity(0.8);
    width: 300px;
    max-width: 100%;
    border-radius: 5px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.bullets-col{
    display: flex;
    justify-content: center;
    align-items: center;
}

.description-row{
    margin-top: 50px;
    margin-bottom: 80px;
}

.bullets-col > ul{
    list-style-type: none;
    margin-bottom: 0;
    row-gap: 10px;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.bullets-col > ul > div > li{
    background-color:#00000029;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
}

hr{
    margin: 0;
}

.wallet-buttons-row
{   justify-content: center;
    margin-top: 50px;
    margin-bottom: 100px;
}

.wallet-buttons{
    max-width: fit-content;
}

.wallet-img-and-bullets-row{
    justify-content: center;
    margin-top:30px;
}

.wallet-img-col, .bullets-col{
    max-width: fit-content;
}