.news-button-col{
    margin-top: 10px;
}

.news-headline{
    margin-top: 150px;
    margin-bottom: 50px;
}

@media (max-width: 991px) {
    .news-headline{
        margin-top: 50px;
        margin-bottom: 50px;
    }
}

.news-list-item-row{
    min-height: 120px;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #ffffff17;
    background-color:#00000029;
}

.news-spinner-col{
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 300px);
}

