.news-button-col{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.news-button-row{
    width: 200px;
}

.news-headline{
    margin-top: 150px;
    margin-bottom: 50px;
}

@media (max-width: 991px) {
    .news-headline{
        margin-top: 50px;
        margin-bottom: 50px;
    }
}

.news-list-item-row{
    min-height: 120px;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #ffffff17;
    background-color:#0000005c;
}

.news-source{
    color: #ffffff57;
    display: flex;
    justify-content: center;
}

.news-spinner-col{
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 300px);
}

.error-row{
    height: 50vh;
    padding-top: 10vh;
}

