@font-face {
  font-family: encode-sans;
  src: url(./fonts/EncodeSans-VariableFont_wdth,wght.ttf);
}


.App {
  text-align: center;
  max-width: 100%;
  background-color: #012127;
  color: #e9ecefeb;
}

.btn-primary{
  background-color: #008a91 !important;
  border-color:#008a91 !important;
}

.btn-primary:hover{
  background-color: #00777d !important;
  border-color: #00777d !important;
}

h1{
  font-family: encode-sans;
  font-weight: 600 !important;
  color: white
}

.container-fluid{
  padding: 0 !important;
}

.row{
  padding: 0;
  margin: 0;
}

.goback{
  cursor: pointer;
  margin-top:100px;
  text-align: left;
}

@media (max-width:992px){
  .goback{
    margin-top:30px;
  }
}

.headline-text-row{
  justify-content: center;
  width:fit-content;
  width: 100%;
}

.headline-text-row-inner{
  display: flex !important;
  justify-content: center;
  width: fit-content !important;
}

.headline-text-row-inner > h1{
  width:fit-content
}

.gradient-hr{
  width: 100% !important;
  height: 3px;
  background: linear-gradient(120deg, #00a47c 0%, #00496c 100%);
}