.footer-container{
    background-color: #000b0c;
    color: white;
}

.footer-row{
    margin: 0;
}

.footer-image-col{
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-logo{
    height: 40px;
    filter: opacity(20%)
}

.footer-link-list{
    cursor: pointer;
    list-style-type: none;
    filter: opacity(20%);
}