.coins-headline{
    color:white;
    margin-top:150px;
    margin-bottom:50px;
}

.coin-list{
    margin-bottom:100px;
}

.coin-list-element{
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color:#1c1e21;
    padding:10px;
    margin-bottom:20px;
    cursor: pointer;
    border-radius: 5px;
    text-transform: capitalize;
}

.coin-list-element:hover{
    background-color:#202327;
}

.coin-list-element > img{
    width:50px;
    height: 50px;
}

.coin-list > div > a{
    text-decoration: none;
    color:white;
}